.bgColor
{
    background-color: rgb(228, 255, 246);
    padding: 20px;
}
.footer
{
    color: white;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 100px;
}
.footer img{
    padding: 50px;
}
.bgBlack
{
    background-color: rgba(32, 32, 32, 0.993);
    color: rgb(126, 124, 124);
    font-size: 15px;
    padding:20px;
}
.copyright
{
    margin: 0  auto;
    display: flex;
    padding:20px;
    justify-content: center;
    align-items: center;
}
.img img
{
    padding :0 150px;
}
.terms
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.terms hr {
    margin:10px;
    height: 10px;
}
.hr{
    color: rgba(255, 255, 255, 0.26);;
}